         /*button */
         
         .btn {
             box-shadow: 0 .1875rem .1875rem 0 rgba(0, 0, 0, .1);
             padding: 1.25rem 2rem;
             font-family: 'Varela Round';
             font-size: 80%;
             text-transform: uppercase;
             letter-spacing: .15rem;
             border: 0;
         }
         
         .btn-primary {
             background-color: $primary;
             &:hover {
                 background-color: darken($primary, 10%);
             }
             &:focus {
                 background-color: darken($primary, 10%);
                 color: white;
             }
             &:active {
                 background-color: darken($primary, 15%);
             }
         }
         
         .bg-black {
             background-color: $black;
         }
         
         .bg-primary {
             background-color: $primary;
         }
         
         @mixin transform1($property) {
             justify-content: $property;
             align-items: $property;
         }
         
         .item4 {
             @include transform1(center);
         }
         
         @mixin transform($property) {
             color: $property;
         }
         
         .text-primary {
             @include transform($primary);
         }
         
         a {
             @include transform(darken($primary, 20%));
         }