#mainNav {
    @media (min-width: 992px) {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: rgb(255, 255, 255);
        transition: background-color 0.3s ease-in-out;
        .navbar-brand {
            padding: .5rem 0;
            color: fade-out($black, .5);
        }
        .nav-link {
            transition: none;
            padding: 2rem 1.5rem;
            color: fade-out($black, .25);
            &:hover {
                color: fade-out($black, .25);
            }
            &:active {
                color: white;
            }
        }
        &.navbar-shrink {
            background-color: $white;
            .navbar-brand {
                color: $black;
            }
            .nav-link {
                color: $black;
                padding: 1.5rem 1.5rem 1.25rem;
                border-bottom: 0.25rem solid transparent;
                &:hover {
                    color: $primary;
                }
                &:active {
                    color: darken($primary, 15%);
                }
                &.active {
                    color: $primary;
                    outline: none;
                    border-bottom: 0.25rem solid $primary;
                }
            }
        }
    }
}

.projects-section {
    .featured-text {
        @media (min-width: 1000px) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
            padding: 5rem;
            hr {
                border-color: $primary;
                border-width: .25rem;
                width: 30%;
            }
        }
    }
}

.masthead {
    @media(min-width: 600px) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
    @media(min-width: 1000px) {
        height: 100vh;
        padding: 0;
        h1 {
            font-size: 6.5rem;
            line-height: 6.5rem;
        }
        h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
    }
}